<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296683188665-v76n9m79o953rp2gppa7qm9c7gc0jd29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296683188665-v76n9m79o953rp2gppa7qm9c7gc0jd29</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>296683188665-5edn1lc3d2cj8k7vq37co2slitnog0ra.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAexOfMre0ZBZ18MHrWSPd45LWiQvVRFN4</string>
	<key>GCM_SENDER_ID</key>
	<string>296683188665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lopy.food</string>
	<key>PROJECT_ID</key>
	<string>lopy-2f6e9</string>
	<key>STORAGE_BUCKET</key>
	<string>lopy-2f6e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296683188665:ios:1f5e1f004473cc8eda4668</string>
</dict>
</plist>